* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
header {
  width: 100%;
  height: 250px;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 32px;
  font-weight: medium;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

header input[type="text"] {
  border: none;
  width: 500px;
  height: 45px;
  border-radius: 10px;
  padding-left: 10px;
}
header input[type="text"]:focus {
  outline: none;
}
header button {
  margin-left: -48px;
  width: 48px;
  height: 47px;
  border: none;
  background-color: black;
  border-radius: 0px 10px 10px 0px;
  transition-duration: 1s;
}
header button:hover {
  opacity: 0.9;
}
header button i {
  color: white;
}
header .api-data {
  width: 100%;
  height: 161px;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
hr {
  color: grey;
  height: 100px;
}
header .api-data .data {
  width: 25%;
  height: 80%;
}
header .api-data .data h2 {
  color: grey;
  padding-top: 15px;
  font-size: 20px;
}
header .api-data .data p {
  padding-top: 15px;
  font-size: 26px;
  font-weight: medium;
}

.map {
  width: 100%;
  height: 80vh;
}
#live-map {
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media (max-width: 770px) {
  header {
    height: 350px;
  }
  header input[type="text"] {
    width: 90%;
  }
  header .api-data {
    flex-direction: column;
    height: 300px;
  }
  hr {
    display: none;
  }
  header .api-data .data {
    width: 80%;
    height: 80%;
  }
  header .api-data .data h2 {
    color: grey;
    padding-top: 10px;
    font-size: 15px;
  }
  header .api-data .data p {
    padding-top: 5px;
    font-size: 20px;
    font-weight: medium;
  }
}
